* {
  padding: 0;
  margin: 0;
  background-color: black;
  color: aliceblue;
}

.logo {
  height: 8vh;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

fieldset {
  padding: 1rem;
  display: flex;
}

label {
  padding: 2rem;
  cursor: pointer;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.container {
  padding-bottom: 5rem;
}

.card {
  display: flex;
  height: 28rem;
}

.card-img-top {
  height: 10rem;
}

.card-title {
  text-align: center;
}

fieldset {
  display: flex;
  justify-content: center;
}

.icons-2 {
  padding: 3px;
  font-size: 1rem;
}

.submit {
  background-color: #50cbb2;
  display: block;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.submit:hover {
  background-color: crimson;
}

.card-details {
  height: 100%;
}

footer {
  border-top: 1px solid white;
  padding-top: 1rem;
}

h6 {
  color: white;
  font-size: 2rem;
  text-align: end;
  padding-right: 2rem;
}

.icons {
  font-size: 2rem;
  padding: 10px 25px;
}
@media screen and (min-width=320px) {
}

@media screen and (min-width=375px) {
}

@media screen and (min-width=425px) {
}
