* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: aliceblue;
}

.logo {
    height: 8vh;
}

@media screen and (min-width=320px) {
    header {
   
    }
}

@media screen and (min-width=375px) {
    
}

@media screen and (min-width=425px) {
    
}